<div id="<%= dom_id kontak %>">
  <p>
    <strong>Nama:</strong>
    <%= kontak.nama %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= kontak.email %>
  </p>

  <p>
    <strong>Telepon:</strong>
    <%= kontak.telepon %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= kontak.twitter %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= kontak.facebook %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= kontak.instagram %>
  </p>

</div>
